header {
    width: 100%;
    margin-top: 14px;
    background-color: white;
    border-bottom: solid black;
    nav {
        width: 75%;
        height: 56px;
        margin: auto;
        .Sub-menu {
            width: 133px;
            margin: 0 138px 0 99px;
            padding: 10px 0 10px 0;
            justify-content: space-between;
        }
        .earn-link {
            width: 128px;
            padding: 10px 0 10px 0;
        }
        .localization {
            width: 120px;
            margin: 0 112px 0 199px;
            padding: 10px 0 10px 0;
            justify-content: space-between;
        }
        .Spam {
            width: 188px;
            padding: 10px 0 10px 0;
            justify-content: space-between;
            float: inline-end;
            align-content: center;
            img {
                float: left;
                margin-top: -5px;
            }
        }
    }
    .logo {
        width: 100px;
        
        .slash {
            font-size: 30px;
        }
    }
    
    nav, .logo, .Sub-menu, .earn-link, .localization, .Spam {
        display: flex;
    }
            
}